# Apple
.DS_Store
._.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Linux
*~
.directory
.Trash-*
Session.vim

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace

# Sass
.sass-cache
*.css.map

# NodeJS
node_modules/
node-debug.txt
npm-debug.txt

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Misc
Mockery_
vendor/
.vagrant/
*.apk
.idea/