; {{ ansible_managed }}

[PHP]
short_open_tag = Off
expose_php = Off
output_buffering = 4096
zlib.output_compression = On
error_reporting = E_ALL
display_errors = Off
display_startup_errors = Off
log_errors = On
enable_dl = Off
max_execution_time = 10
max_input_time = 10
memory_limit = 128M
post_max_size = 128M
upload_max_filesize = 128M
max_file_uploads = 20
default_socket_timeout = 10
max_input_vars = 10000

[CLI Server]
cli_server.color = On

[Date]
date.timezone = 'Asia/Tbilisi'

[Pdo_mysql]
pdo_mysql.cache_size = 2000
pdo_mysql.default_socket=

[mail function]
sendmail_path = /usr/sbin/sendmail -t -i
mail.add_x_header = On

[Assertion]
zend.assertions = -1

[Tidy]
tidy.clean_output = Off
